.tasks {
    width: 100%;
    tasks-style-type: none;
    padding: 20px;
    margin: auto;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
    visibility: visible;
}

.tasks__item--hidden {
    height: 0px;
    visibility: hidden;
}

.tasks__item--done {
    text-decoration: line-through;
}

.tasks__button {
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #1a7b1e;
    transition: 0.3s;
}

.tasks__button:hover {
    background-color: hsl(122, 65%, 34%);
}

.tasks__button:active {
    background-color: hsl(122, 65%, 39%);
    border: 1px solid black;
    border-radius: 3px;
}

.tasks__button--toggleDone {
    margin-right: 10px;
}

.tasks__button--remove {
    background-color: red;
    transition: 0.3s;
}

.tasks__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}

.tasks__button--remove:active {
    background-color: hsl(0, 100%, 65%);
}