.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background: transparent;
    color: hsl(187, 100%, 25%);
    border: none;
    font-size: 18px;
    text-align: center;
    max-height: 40px;
    cursor: pointer;
    transition: color 0.3s;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    color: hsl(187, 100%, 35%);
}

.buttons__button:active {
    color: hsl(187, 100%, 45%);
}

.buttons__button:disabled {
    color: hsl(0, 4%, 65%);
}
